<!-- Header -->
  <div id="header">

    <div class="top">

      <!-- Logo -->
        <div id="logo">
          <span class="image avatar48"><img src="{{ site.url }}/images/avatar.png" alt="{{ site.nav_title }}" /></span>
          <h1 id="title">{{ site.nav_title }}</h1>
          <p>{{ site.nav_position }}</p>
        </div>

      <!-- Nav -->
        <nav id="nav">
          <!--

            Prologue's nav expects links in one of two formats:

            1. Hash link (scrolls to a different section within the page)

               <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

            2. Standard link (sends the user to another page/site)

               <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

          -->
          <ul>
            <li><a href="{{ site.url }}" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
            <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
            <li><a href="{{ site.posts.first.url }}" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-rss">Blog</span></a></li>
          </ul>
        </nav>

    </div>

    <div class="bottom">

      <!-- Social Icons -->
        <ul class="icons">
          {% if site.twitter != null %}
          <li><a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
          {% endif %}
          {% if site.facebook != null %}
          <li><a href="https://www.facebook.com/{{ site.facebook }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
          {% endif %}
          {% if site.github != null %}
          <li><a href="https://github.com/{{ site.github }}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
          {% endif %}
          {% if site.linkedin != null %}
          <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="icon  fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
          {% endif %}
        </ul>

    </div>

  </div>
