---
layout: default
---
    <section id="top" class="one dark cover">
      <div class="container">

        <header>
          <h2 class="alt" style="width:50%; margin-left: auto; margin-right: auto;">{{ page.header }}
        </header>

        <footer>
          <a href="#portfolio" class="button scrolly">Current blog post</a>
        </footer>

      </div>
    </section>
    
    <section id="about" class="three">
      <div class="container">
        <article class="post-content">
        {{ content }}
        </article>
      </div>
    </section>
