<!-- Footer -->
  <div id="footer">

    <!-- Copyright -->
      <ul class="copyright">
        <li><a href="/copyright">&copy; {{ site.time | date: '%Y' }} {{ site.nav_title }}. All rights reserved.</a></li>
      </ul>

  </div>

<!-- Scripts -->
  <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.url }}/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{ site.url }}/assets/js/jquery.scrollzer.min.js"></script>
  <script src="{{ site.url }}/assets/js/skel.min.js"></script>
  <script src="{{ site.url }}/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{ site.url }}/assets/js/main.js"></script>
  <script type="text/javascript">var SC_RumID = {{ site.statuscake_rumid }};</script>
  <script type="text/javascript" async src="https://www.statuscake.com/App/RUM/embed.js"></script>
