<!-- Header -->
  <div id="header">

    <div class="top">

      <!-- Logo -->
        <div id="logo">
          <span class="image avatar48"><img src="{{ site.url }}/images/avatar.png" alt="{{ site.nav_title }}" /></span>
          <h1 id="title">{{ site.nav_title }}</h1>
          <p>{{ site.nav_position }}</p>
        </div>

      <!-- Nav -->
        <nav id="nav">
          {% assign url = page.url|remove:'index.html' %}
          <ul>
            {% if url == '/' %}
              <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
              <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
            {% else %}
              <li><a href="{{ site.url }}" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
              <li><a href="{{ site.url }}#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
            {% endif %}
            <li><a href="{{ site.posts.first.url }}" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-rss">Latest Post</span></a></li>
            <li><a href="{{ site.url }}/posts/" id="about-link" class="skel-layers-ignoreHref"><span class="sub-nav">Posts by date</span></a></li>
            <li><a href="{{ site.url }}/tags/" id="about-link" class="skel-layers-ignoreHref"><span class="sub-nav">Posts by tag</span></a></li>
            <li><a href="{{ site.url }}/downloads/{{ site.cv }}" id="about-link" class="skel-layers-ignoreHref" target="_blank" download="{{ site.cv }}"><span class="icon fa-file">Download my CV</span></a></li>
          </ul>
        </nav>

    </div>

    <div class="bottom">

      <!-- Social Icons -->
        <ul class="icons">
          {% if site.twitter != null %}
          <li><a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
          {% endif %}
          {% if site.facebook != null %}
          <li><a href="https://www.facebook.com/{{ site.facebook }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
          {% endif %}
          {% if site.github != null %}
          <li><a href="https://github.com/{{ site.github }}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
          {% endif %}
          {% if site.linkedin != null %}
          <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="icon  fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
          {% endif %}
        </ul>

    </div>

  </div>
