---
layout: default
---
    <section id="top" class="one dark cover">
      <div class="container">

        <header>
          <h2 class="alt" style="width:50%; margin-left: auto; margin-right: auto;">{{ page.header }}
        </header>

        <footer>
          <a href="{{ site.url }}{{ site.posts.first.url }}" class="button scrolly">Latest blog post...</a>
        </footer>

      </div>
    </section>

    <section id="portfolio" class="two">
      <div class="container">

        <header>
          <h2>Portfolio</h2>
        </header>

        {{ content }}

        <div class="row" style="display: flex; flex-wrap: wrap;">
        {% for role in site.collections[0].docs %}
          <div class="4u 12u$(mobile)">
            <article class="item">
              <a href="{{ site.url }}{{ role.url }}" class="image fit"><img src="{{ role.thumbnail }}" alt="{{ role.project }}" />
              <header>
                <h3>{{ role.project }}</h3>
              </header>
              </a>
            </article>
          </div>
        {% endfor %}
        </div>

      </div>
    </section>
