---
layout: default
---
<section id="about" class="three">
  <div class="container">

    <header id="role" class="role">
      <style>
        #role > header.role {
          /*width: 200px;
          height: 200px;*/
          display: block;
          position: relative;
        }

        #role > header.role::after {
          content: '';
          background: url({{ site.url }}{{ page.image }});
          opacity: 0.3;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
        }
      </style>
      <h2 class="alt" style="width:75%; margin-left: auto; margin-right: auto;">{{ page.project }}</h2>
      <h3 class="alt" style="width:50%; margin-left: auto; margin-right: auto;">{{ page.company }}</h3>
      <p class="meta">{{ page.position }}</p>
      <hr />
    </header>

    <div class="role">
      <section id="role" class="role">
          {{ content }}
      </section>
    </div>

  </div>
</section>
